<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>InkWave</title>
    <link rel="icon" type="image/x-icon" href="/images/quill.png">
  </head>
  <body class="spring-green">
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/images/quill.png" alt="InkWave Logo" height="30px">
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link text-white">Home</a></li>
            <li class="nav-item"><a href="/write" class="nav-link text-white">Start Writing</a></li>
          </ul>
        </header>
      </div>