<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimeSearch</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Looking for an Anime?</h1>
      <form action="/search" method="POST">
        <input
          type="text"
          name="anime"
          placeholder="Enter anime name here..."
          required
        />
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
